body {
  font-family: flood-std, sans-serif;
   font-style: oblique;
   font-weight: 400;
   width: 500px;
   height: 1000px;
   overflow: hidden;
   background: linear-gradient(blue, lightblue, darkblue);
   padding-top: 3%;
   margin: auto;
   left: 0;
   right: 0;
 }
 .map {
   position: relative;
   margin: auto;
   font-size: 40px;
   text-align: center;
   padding-left: 10px;
   padding-top: 10px;
   width: 330px;
   height: 330px;
   transition: all 0.1s ease-in-out;
   border-radius: 5%;
   background-color: darkred;
   box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
 }
 box {
   border-radius: 25%;
   color:yellowgreen;
   text-align: center;
   font-size: 40px;
   z-index: 5;
   display: inline-block;
   background-color: antiquewhite;
   margin: 1%;
   position: relative;
   float: left;
  padding-top: 28px;
   height: 72px;
   width: 100px;
  }
 
 .reset {
   transition: all 0.2s ease-in-out;
   margin-top: 0px;
   margin-left: 440px;
   width: 0px;
   z-index: 3;
   color: smoke;
   position: absolute;
   font-size: 80px;
 }
 .reset:hover {
   transform: scale(1.1);
   margin-top: 0px;
   margin-left: 438px;
   width: 0px;
   z-index: 3;
   color: smoke;
   position: absolute;
   font-size: 80px;
 }
 